body {
    font-family: sans-serif;
    background-color: #eae7d7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23f7f7ef' fill-opacity='0.4'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    width: 90%;
    height: 90%;
    margin: auto;
}
hr {
    border-width: 3px;
    border-color:#ffc587;
}
h1 {
    font-size: 50px;
    text-shadow: 1px 1px 4px black;
    text-align: center;
    margin-bottom: 0;
}
h2 {
    margin: 4px 0 10px 0;
    font-size: 120%;
    text-shadow: 0px 0px 2px black;
    text-align: center;
}
header {
    height: 27vw;
}
header img {
    width: 21vw;
    display: block;
    margin: 1vw auto;
}
img:hover {
    opacity: 0.8;
}

div div {
    display: inline-block;
    width: 17%;
    margin: 0 5px 20px 5px;
    border: 3px dashed #ffc587;
    background-color: #fcf8e0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23f7d9a6' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border-radius: 15px;
}
div img {
    width: 60%;
    margin: -20px 20% -10px 20%;
    opacity: 1;
}
nav {
    width: 100%;
    margin: auto;
    align-items: center;
}
.upButton {
    margin-bottom: 0;
    padding-bottom: -10px;
}
.redtext {
    color: red;
}
.section {
    height: 100%;
    width: 96%;
    margin: 0 4%;
}
button {
    display: block;
    margin: -10px auto 10px auto;
    border: 3px solid #ffc587;
    border-radius: 10px;
    background-color: #b2ffe5;
    height: 30px;
    width: 120px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0 0 2px black;
}
button:hover {
    opacity: 0.8;
    box-shadow: 2px 2px 4px black;
}
p {
    text-align: center;
    font-size: 15px;
    color: gray;
}